*{
  font-family: "Work Sans", sans-serif;
}
body{
   margin: 0 auto;
}
header{
   background-color:rgba(255, 144, 14, 0.10) ;
}
.header-title{
   font-size: 2.8rem;
   font-weight: 700;
   color: #131313;
}
nav{
   display: flex;
   justify-content: space-between;
   padding: 0px 200px;
   align-items: center;
}
nav > ul{
   display: flex;
}
nav ul li{
   list-style: none;
}
ul li a{
   text-decoration: none;
   margin-right: 30px;
   color: #424242;
   font-size: 1rem;

}
.banner{
   
}
.banner-text{
   text-align: center;
}

.banner-text h1{
   font-size: 4rem;
   font-weight: 700;
   color: #131313;
}
.banner-text p {
   color: #727272;
}
.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
    margin-bottom: 40px;
}

.banner-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   padding-bottom: 40px;
}
/* Feature sec */
.feature-sec{
   margin-top: 50px;
   padding-left: 100px;
   display: flex;
   align-items: center;
}
.img-div{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 25px;
   
}
.feature-text-div{
  padding-left:100px ;
}
.feature-text-div h1{
     font-size: 2.8rem;
}
.feature-text-div p{
   color: #727272;
}
#span-1{
    color: #727272;
}
#span-2{
    color: #FF900E;
}



.feature-love-sec{
   display: flex;
   gap: 100px;
   margin:100px;
}
.love-text{
   width: 40%;
}
.love-text h1{
   font-weight: 700;
   color: #131313;
   font-size: 2.8rem;
   border-left: 5px solid #FF900E;
   padding-left: 30px;
}
.love-text p{
   color: #727272;
}
.desktop-div{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.love-img{
   width: 40%;
   margin-left: 100px;
}


.experiense{
   background:#FF900E;
   padding: 100px;
   border-radius: 5px;
   width: 30%;
   position: relative;
   bottom: 100px;
   right: 100px;
}
.experiense h1{
   font-size: 2.5rem;
}
/* Responsive Css */
@media screen and (max-width:576px) {
   nav {
      padding: 0 30px;
      flex-direction: column;
      margin-bottom: 0;
      max-width: 90%;
   }
   .header-title{
      margin-bottom: 0px;
      
   }
   .banner-text{
      width: 90%;
   }
   .banner-text h1{
      font-size: 2rem;
   }
   .banner-img{
      width: 80%;
   }

   .feature-sec{
      flex-direction: column;
      padding: 20px;
   }
   .feature-text-div h1{
      font-size: 2rem;
   }
   .img-div{
      grid-template-columns:repeat(1 , 1fr);
   }
.img-div img{
   width: 95%;
}

   .feature-text-div{
      padding-left: 10px;
   }

    /* iduflkfndofjnhujr */

   .feature-love-sec{
      flex-direction: column;
      margin-left: 20px;
      margin-top: 0px;
   }
   .love-text{
      width: 95%;
   }
   .love-text h1{
      
      font-size: 2rem;
   
   }
   .love-text p{
      color: #727272;
   }
   .desktop-div{
      padding: 30px;
   }

   .love-img{
      width:auto;
      height: 100%;
      margin-left: 20px;
      
   }
   .love-img img{
      width: 100%;
   }

.experiense{
   top: 0px;
   right:0px;
   margin-top: 20px;
   
  
}

}

/* Medium responsive css */
@media screen and (min-width:576px) and (max-width:960px) {
   nav {
      padding:30px;
      flex-direction: column;
      margin-bottom: 0;
   }
   .banner-text h1{
      font-size: 2.5rem;
   }
   .feature-sec{
      flex-direction: column;
      padding: 20px;
   }
   .img-div{
      
   }
   .feature-text-div{
      padding: 0;
   }
   
   .feature-love-sec{
      flex-direction: column;
      margin-left: 20px;
      margin-top: 0px;
   }
   .love-text{
      width: 95%;
   }
   .love-text h1{
      
      font-size: 2rem;
   
   }
   .love-text p{
      color: #727272;
   }
   .desktop-div{
      padding: 30px;
   }

   .love-img{
      width:auto;
      height: 100%;
      margin-left: 20px;
      
   }
   .love-img img{
      width: 100%;
   }

   .experiense{
      top: 0px;
      right:0px;
      margin-top: 20px;
   
 }
}